.about-content {
  display: flex;
  gap: 2rem;
  padding: 5rem 0;
}

.vision-mission {
  display: flex;
  gap: 2rem;
}

.vm-pair {
  border: 3px solid transparent;
  border-radius: 10px;
  transition: border-color 0.2s ease;
  padding: 1rem;
}

.pair-text {
  margin-bottom: 0;
}

.vm-pair:hover,
.vm-pair:focus-within {
  border-color: var(--color-secondary);
}

.about-contact {
  display: flex;
  gap: 5rem;
  padding-top: 2.5rem;
}

.about-number {
  text-decoration: none;
  color: var(--color-secondary);
}

.phone-pair {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

.about-btn {
  height: 45px;
}

.about-info > h4 {
  background-color: var(--color-accent-3);
  border-radius: 5px;
  padding-left: 2px;
}
