.blog-card {
  background-color: var(--color-secondary);
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 5px;
  color: var(--color-primary);
  max-width: 430px;
  width: 100%;
  border: 2px solid transparent;
}

.blog-card p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-card:hover,
.blog-card:focus-within {
  background-color: #f1ffea;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary); /* added for WCAG, though it was hard to see otherwise */
}

.blog-image {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.blog-date {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.blog-date > p {
  font-family: inter;
  font-size: 14px;
  margin: 0;
  margin-top: 0.15rem;
}

.calendar-icon {
  color: currentColor;
}

.read-more {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 300;
}
