.faq-content {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    gap: 4rem;
}

.faq-text {
    flex: 1;
}

.accordion {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.accordion-item {
  background-color: var(--color-primary);
  overflow: hidden;
}


.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 17px;
  font-family: "urbanist";
  font-weight: 600;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.accordion-question:hover,
.accordion-question:focus {
  color: var(--color-accent);
}

.accordion-question.active {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.accordion-arrow {
  color: var(--color-secondary);
  transition: transform 0.3s ease, color 0.3s ease;
}

.accordion-question.active .accordion-arrow {
  color: var(--color-primary);
}

.accordion-arrow.rotated {
  transform: rotate(180deg) scale(0.75);
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 1rem 2rem;
}

.accordion-answer.show {
  max-height: 999px;
  padding-bottom: 1rem;
}

.accordion-answer p {
  margin-top: 1rem;
  color: var(--color-secondary);
}
