.hero-section {
  background-color: var(--color-accent-3);
}

.hero-about .hero-content {
  height: 467px;
  align-items: center;
}

.hero-services .hero-content {
  height: 467px;
  align-items: center;
}

.hero-contact .hero-content {
  height: 467px;
  align-items: center;
}

.hero-notfound .hero-content {
  height: 1014px;
  align-items: center;
  justify-content: center;
}

.hero-notfound .hero-content-wrapper {
  align-items: center;
  text-align: center;
}

.hero-notfound .hero-pretitle {
  color: var(--color-primary);
  font-family: urbanist;
  font-size: 24px;
  line-height: 25px;
}

.hero-notfound .hero-title {
  color: var(--color-accent);
}

.hero-content {
  display: flex;
  height: 715px;
  gap: 3rem;
  padding-top: 4rem;
}

.hero-booking .hero-content {
  height: 477px;
  align-items: center;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

.hero-pretitle {
  color: var(--color-accent);
  margin: 0;
}

.hero-title {
  font-size: 80px;
  color: var(--color-primary);
  line-height: 1;
  margin: 0.5rem 0;
}

.hero-subtitle {
  color: var(--color-primary);
  width: 700px;
  margin: 0.5rem 0;
}

.hero-actions {
  margin-top: 1rem;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
