.testimonials-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.testimonials-section.with-bg {
  background-image: url("../assets/test-img.svg");
}
.testimonials-section.with-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-secondary);
  opacity: 0.8;
  z-index: 0;
}
.testimonials-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.testimonials-content > h3,
.testimonials-content > p {
  color: var(--color-primary);
  max-width: 1068px;
  margin: 1rem auto;
}

.test-cards {
  display: flex;
  gap: 2rem;
  text-align: left;
}

.testimonials-section.solid-bg {
  background-color: var(--color-accent-3);
}

.test-card {
  background-color: var(--color-primary);
  padding: 1.5rem;
  border-radius: 12px;
}

.bot-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.test-id {
  display: flex;
  gap: 1rem;
}

.avatar-pic {
  border-radius: 50%;
}

.role {
  margin: 0;
  margin-top: 0.25rem;
  font-size: 14px;
}
