.wcu-section {
  background-color: var(--color-background3);
}

.wcu-section.home {
  background-color: var(--color-background3);
}

.wcu-section.about {
  background-color: var(--color-primary);
}

.wcu-section.booking {
  background-color: var(--color-background3);
}

.wcu-content {
  display: flex;
  flex-direction: column;
  padding-top: 5.5rem;
  padding-bottom: 4rem;
}

.wcu-content > h4 {
  margin-bottom: 0.5rem;
}

.wcu-text > h3 {
  margin-bottom: 1rem;
}

.wcu-text {
  display: flex;
  text-align: left;
  gap: 3rem;
}

.wcu-text > h3 {
  display: flex;
  width: 50%;
}

.wcu-text > p {
  display: flex;
  width: 50%;
}

.group-pic-container {
  display: flex;
  gap: 3rem;
}

.wcu-tripple {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 0.25rem;
}

.wcu-group {
  gap: 1.5rem;
  display: flex;
}

.wcu-bg-pic {
  display: flex;
}

.wcu-icon {
  max-width: 83px;
  max-height: 88px;
}
